.Description {
    font-weight: normal;
}

.DescriptionSearchBlock {
    display: flex;
    justify-content: center;
}

.PageHeaderContent {
    font-weight: 500;
}

@media (max-width: 576px) {
    .PageHeaderContent {
        font-size: 13px;
        font-weight: 500;
    }

    .SearchButton {
        width: 100%;
    }
}

.SearchLabel {
    margin-left: 16px;
    font-weight: 500;
}

.DescriptionPersonCount {
    color: gray;
    margin-left: 3px;

}

.Link {
    color: #2a5885;
    text-decoration: none;
}

.Link:hover {
    text-decoration: underline;
    cursor: pointer;
}
