.Description {
    font-weight: normal;
}

.DescriptionSearchBlock {
    display: flex;
    justify-content: center;
}

.PageHeaderContent {
    font-weight: 500;
}

@media (max-width: 576px) {
    .PageHeaderContent {
        font-size: 13px;
        font-weight: 500;
    }

    .SearchButton {
        width: 100%;
    }
}

.main-search-button {
    width: 100%;
    height: 100%;
}

@media (max-width: 576px) {
    .main-search-button {
        width: 100%;
        height: 33px;
    }
}

.SearchLabel {
    margin-left: 16px;
    font-weight: 500;
}

.DescriptionPersonCount {
    color: gray;
    margin-left: 3px;

}

.Link {
    color: #2a5885;
    text-decoration: none;
}

.Link:hover {
    text-decoration: underline;
    cursor: pointer;
}


.shadow {
    box-shadow: 0 0 10px rgba(0,4,4,0); /* Параметры тени */
    padding: 10px;
}

@media (min-width: 576px) {
    .Search {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

.Search__width {
    width: unset;
}