.Button {
    cursor: pointer;
}

.tagify__tag[readonly]>div::before {
    background: none;
}

.tagify__tag-text {
    color: var(--accent);
}

.tagify__input .tagify__tag>div {
    padding-left: 0;
    padding-right: 0;
}

.Banner__content {
    justify-content: start;
}

.hashtag {
    color: var(--accent);
}

.post-textarea > .Textarea__el {
    min-height: 220px;
}

.info-icon {
    color: var(--accent);
}

.post-panel-header .PanelHeader__in {
    padding-left: 2.375rem !important;
    padding-right: 2.375rem !important;
}

.check-circle-icon-custom {
    padding-left: 0.25rem;
}

