.Group__inner {
    padding-top: 0;
    padding-bottom: 0;
}

.PanelHeader__separator {
    display: none;
    margin: 0;
    padding: 0;
}

.error-snake-bar-color {
    background-color: var(--accent)
}
