.Group__inner {
    padding-top: 0;
    padding-bottom: 0;
}

.PanelHeader__separator {
    display: none;
}

.spinner-loading {
    margin: 20% 0
}

.mt-46 {
    margin-top: 2.875rem; !important;
}

.pt-46 {
    padding-top: 2.875rem; !important;
}
